#footer {
  background-color: #f58fc2; 
  color: white;
  padding: 30px 15px;
  text-align: center;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.contact-info h3,
.social-icons h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.social-links a,
.contact-info p {
  color: white;
  font-size: 18px;
  display: inline-block;
  margin: 5px 0;
  text-decoration: none;
}

.footer-icon {
  margin-right: 8px;
  font-size: 20px;
}

.social-links a {
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
  transform: scale(1.2);
  color: #ffe6f3; 
}

.footer-bottom {
  border-top: 1px solid #ffffff55;
  padding-top: 12px;
  font-size: 14px;
}


@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }
}