#hero-section {
  width: 100%;
  padding: 80px 8%;
  margin-top: 120px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  color: #555;
  margin-bottom: 25px;
}

.hero-btn {
  background-color: #f58fc2;
  padding: 14px 28px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #e56fad;
}


.hero-img img {
  width: 450px;
  max-width: 100%;
  animation: float 3s infinite ease-in-out;
}

/* Floating effect */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}


@media (max-width: 850px) {
  #hero-section {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 100px;
  }

  .hero-text h1 {
    font-size: 36px;
  }
}